@font-face {
    font-family: 'francois';
    src: url('font/francoisone-webfont.eot');
    src: url('font/francoisone-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/francoisone-webfont.woff2') format('woff2'),
         url('font/francoisone-webfont.woff') format('woff'),
         url('font/francoisone-webfont.ttf') format('truetype'),
         url('font/francoisone-webfont.svg#francois_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}